@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

p, input, button, label {
    margin-top:6pt;
    margin-bottom:2pt;
}

i {
    font-size: 32px;
    color: white;
}

.bi-hand-thumbs-up {
    color:darkblue;
}

.bi-check2-circle {
    color:green;
}

footer {
    /* text-align:center; */
    margin-top:10vh;
    margin-bottom:2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size:8pt;
    }
    a:link {
        font-size: 8pt;
        color:skyblue;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #66561e;
    border-bottom: solid 1px #808282;
    margin-bottom:10vh;
    div {
        display: flex;
        flex-direction: row;
        /* width:100%; */
        align-items: center;
        a {
            float:right;
        }
    }
    h1 {
        text-align:center;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    label {
        align-items: left;
        text-align: left;
    }
    iframe {
        width:90vw;
    }
    h2 {
        margin-bottom:15px;
    }
    margin: 10%;
}

div:has(button) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div:has(input) {
    display: flex;
    flex-direction: column;
}

menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width:100%;
}

.profileseparator {
    width:30vw;
}

.profileseparator2 {
    width: 32px;
}